
KnightLight v4/bin/Debug/Save Files/Senior DnD Showcase 2021_2/Flies Insect Sound Effect resampled.wav
KnightLight v4/bin/Debug/Save Files/Senior DnD Showcase 2021_2/a03 MC02 You Got Mail - Sound Effect for Editing resampled.wav
KnightLight v4/bin/Debug/Save Files/Senior DnD Showcase 2021_2/a03 MC01 Cell Phone Ringing Sound Effects resampled.wav
KnightLight v4/bin/Debug/Save Files/Senior DnD Showcase 2021_2/a02 MC02 Laugh - Gaming Sound Effect (HD) (128 kbps) resampled.wav
KnightLight v4/bin/Debug/Save Files/Senior DnD Showcase 2021_2/a02 MC01 Clapping Sound FX (128 kbps) resampled.wav
KnightLight v4/bin/Debug/Save Files/2022 Addams Family/*.mp3
KnightLight v4/bin/Debug/Save Files/Testing7/Higher.mp3
KnightLight v4/.vs/Super Awesome Lighting DMX board v4/v16/.suo
KnightLight v4/bin/Debug/Save Files/Testing7/desktop.ini
KnightLight v4/bin/Debug/Save Files/Testing7/SC 48 Money for Nothing with intro thunder and wind EP 01112015.mp3
